@import "../../../assets/styles/util";

.btn {
  color: $button;
  background: $button-background;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid transparent;
  border-bottom: 1px solid darkgrey;
  padding: 10px;

  &:hover,
  :active {
    border: 1px solid white;
    border-radius: 50px;
  }

  &--project {
    width: fit-content;
  }

  &--blog {
    color: $button;
    background: $blog-background;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid transparent;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
    &:hover,
    :active {
      border: 1px solid white;
      border-radius: 50px;
    }
  }
  &--form {
    width: 40%;
  }
}
