// colors
$primary-color: black;

$main-title: $primary-color;
$intro-title: #ba094e;

$blog-background: rgb(33, 32, 32);
$blog-text: #ffffff;

$tech-icon: $intro-title;
$tech-text: $intro-title;

$button: #ffffff;
$button-background: $blog-background;

$project-text: white;
$project-background: #ba094e;

//margins
$space-big-4rem: 4rem;
$space-small-2rem: 2rem;
$space-tiny-1rem: 1rem;

