@import "../../../assets/styles/util";

.project {
  &__card {
    padding: $space-tiny-1rem 0;
  }
  &__img {
    display: flex;
    img {
      height: 200px;
      //border-radius: 50px;
    }
  }
  &__article {
    h3 {
      font-size: 2rem;
    }
  }

  @include ipad-view {
    &__img {
      img {
        height: 450px;
      }
    }
  }
  @include desktop-view {
    &__card {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &__img {
      max-width: 30vw;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__article {
      max-width: 50vw;
      padding: 0 $space-small-2rem;
      display: flex;
      flex-direction: column;
    }
  }
}
