@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.navbar {
  margin: 0 $space-tiny-1rem / 2;

  display: flex;
  justify-content: space-between;
  &__logo {
    width: 30%;
    max-width: $space-big-4rem * 3;
    align-self: center;
  }
  &__links {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 10px;
    li {
      align-self: center;
      padding: 0 0.2rem;
      a {
        color: $primary-color;
        text-decoration: none;
        &:hover,
        &:active {
          color: darkgrey;
          padding-bottom: 0.4rem;
          border-bottom: 2px solid black;
          cursor: pointer;
        }
      }
    }
  }
  @include desktop-view {
    margin: 0 $space-big-4rem * 1.5;
    a {
      margin-right: $space-tiny-1rem;
    }
  }
}