@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixin';

// mobile-first

.blog {
   &__card {
    margin: $space-tiny-1rem 0;
    justify-content: center;
    background: $blog-background;
    border-radius: 30px;
    color: $blog-text;
    padding: $space-small-2rem;
    width: 80%;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }


  @include desktop-view {
        &__card {
      max-width: 340px;
      min-height: 300px;
      transition: 0.5s;
      &:hover,
      &:active {
        transform: scale(1.03);
      }
    }
  }
}