@mixin desktop-view {
  @media (min-width: 1025px) {
    @content;
  }
}
@mixin ipad-view {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin wiggle-animation($duration, $degree-start, $degree-end, $delay) {
  $name: wiggle-#{unique_id()};

  @keyframes #{$name} {
    from {
      transform: rotateZ($degree-start);
    }
    to {
      transform: rotateZ($degree-end);
    }
  }
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

