// colors
$primary-color: black;
$pink: #ba094e;
$gray: #aaa9ad;

$main-title: $primary-color;
$intro-title: $pink;

$sidebar-text: #ffffff;
$sidebar-background: $primary-color;

$tech-text: #ffffff;
$tech-icon: $intro-title;
$tech-background: black;

$button: #ffffff;
$button-background: black;

$project-title: white;
$project-subtitle: white;
$project-text: white;
$project-background: $pink;

$contact-details-base: $pink;

//margins
$space-big-4rem: 4rem;
$space-small-2rem: 2rem;
$space-tiny-1rem: 1rem;
