@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

// mobile-first

.navbar {
  margin: 0 $space-tiny-1rem / 2;
  display: flex;
  justify-content: space-between;
  @include desktop-view {
    margin: 0 $space-big-4rem * 1.5;
  }
}