@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

// mobile-first

.sidebar {
  display: flex;
  transform: translateX(100%);
  &--open {
    transform: translateX(0);
  }
  flex-direction: column;
  justify-content: center;
  background: $sidebar-background;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  li {
    margin-top: 2rem;
  }
  a {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: $sidebar-text;
    text-decoration: none;
    transition: color 0.3s linear;
    text-align: center;

    @include ipad-view {
      display: none;
    }
  }
}
